In [1]:
import pandas as pd
import numpy as np
import datetime
import pickle

In [2]:
base = '/home/ana/Downloads/'

In [3]:
df = pd.read_pickle(base + 'df_clean')

df.head(columns={
    "Id_Historico_Prestamo": "Loan ID"
    "Id_Usuario": "Borrower ID "
    "Id_Tag_Bicicleta": "Bike ID "
    "Fecha_Prestamo": "Start loan "
    "Fecha_Devolucion": "End loan"
    "Id_Aparcamiento_Origen": "ID start station"
    "Posicion_Origen": "Position start"
    "Id_Aparcamiento_Destino": "ID end station"
    "Posicion_Destino": "Position end"
    "operario": "Worker"
    "Num_Bici_Hist": "Unknown
})

In [12]:
df.head(50)

,Id_Historico_Prestamo,Id_Usuario,Id_Tag_Bicicleta,Fecha_Prestamo,Fecha_Devolucion,Id_Aparcamiento_Origen,Posicion_Origen,Id_Aparcamiento_Destino,Posicion_Destino,operario,Num_Bici_Hist,Duration,Year_Prestamo,Year_Devolucion
0,6501462,18701,1164,2017-06-21 14:22:11.000,2017-06-21 14:38:29.000,8,1,43.0,1.0,161,929.0,978.0,2017,2017
1,6501318,41811,1089,2017-06-21 14:07:18.000,2017-06-21 14:39:06.000,56,6,54.0,NaN,251,1612.0,1908.0,2017,2017
2,6501489,96620,1110,2017-06-21 14:25:11.000,2017-06-21 14:39:07.000,36,25,9.0,13.0,273,1679.0,836.0,2017,2017
3,6501001,16055,1465,2017-06-21 13:35:52.000,2017-06-21 14:39:22.000,8,1,9.0,6.0,273,1076.0,3810.0,2017,2017
4,6501421,6431,996,2017-06-21 14:17:56.000,2017-06-21 14:39:26.000,56,14,54.0,NaN,251,1176.0,1290.0,2017,2017
5,6501591,57428,1400,2017-06-21 14:35:33.000,2017-06-21 14:39:33.000,22,8,47.0,9.0,273,550.0,240.0,2017,2017
6,6501386,45161,270,2017-06-21 14:15:10.000,2017-06-21 14:39:39.000,56,12,54.0,NaN,251,759.0,1469.0,2017,2017
7,6501477,34373,1158,2017-06-21 14:23:32.000,2017-06-21 14:39:46.000,19,33,11.0,22.0,273,860.0,974.0,2017,2017
8,6500993,25026,380,2017-06-21 13:34:31.000,2017-06-21 14:39:53.000,21,1,54.0,NaN,251,878.0,3922.0,2017,2017
9,6500917,34894,778,2017-06-21 13:27:28.000,2017-06-21 14:40:02.000,47,19,54.0,NaN,251,601.0,4354.0,2017,2017
10,6501562,39030,1329,2017-06-21 14:33:03.000,2017-06-21 14:40:06.000,21,1,44.0,28.0,273,1396.0,423.0,2017,2017
11,6501561,97839,427,2017-06-21 14:32:50.000,2017-06-21 14:40:33.000,45,1,66.0,1.0,279,1689.0,463.0,2017,2017
12,6501507,24915,353,2017-06-21 14:28:02.000,2017-06-21 14:40:42.000,36,4,56.0,14.0,273,795.0,760.0,2017,2017
13,6501382,39408,1383,2017-06-21 14:14:29.000,2017-06-21 14:40:47.000,21,1,24.0,1.0,46,1455.0,1578.0,2017,2017
14,6500937,36158,566,2017-06-21 13:29:19.000,2017-06-21 14:40:48.000,46,14,46.0,14.0,273,604.0,4289.0,2017,2017
15,6500953,38741,96,2017-06-21 13:30:57.000,2017-06-21 14:41:23.000,65,13,57.0,1.0,273,1383.0,4226.0,2017,2017
16,6501642,34222,974,2017-06-21 14:41:17.000,2017-06-21 14:41:51.000,39,16,39.0,16.0,273,1410.0,34.0,2017,2017
17,6501341,46819,995,2017-06-21 14:09:51.000,2017-06-21 14:42:12.000,39,12,57.0,5.0,273,859.0,1941.0,2017,2017
18,6501484,26880,972,2017-06-21 14:24:27.000,2017-06-21 14:42:26.000,55,1,43.0,1.0,161,760.0,1079.0,2017,2017
19,6501474,93334,402,2017-06-21 14:23:09.000,2017-06-21 14:42:50.000,11,1,34.0,1.0,183,984.0,1181.0,2017,2017
20,6501654,51228,1342,2017-06-21 14:42:02.000,2017-06-21 14:42:57.000,44,23,44.0,22.0,273,776.0,55.0,2017,2017
21,6501485,17445,772,2017-06-21 14:24:45.000,2017-06-21 14:42:49.000,36,1,2.0,1.0,93,1453.0,1084.0,2017,2017
22,6501309,43364,104,2017-06-21 14:06:01.000,2017-06-21 14:43:00.000,2,1,57.0,7.0,273,649.0,2219.0,2017,2017
23,6501483,15731,1449,2017-06-21 14:24:18.000,2017-06-21 14:43:01.000,62,1,3.0,20.0,273,856.0,1123.0,2017,2017
24,6501240,10438,793,2017-06-21 13:59:42.000,2017-06-21 14:43:08.000,10,1,3.0,8.0,273,559.0,2606.0,2017,2017
25,6501587,91068,834,2017-06-21 14:35:26.000,2017-06-21 14:43:33.000,39,1,6.0,1.0,301,1203.0,487.0,2017,2017
26,6501125,96003,1000,2017-06-21 13:48:51.000,2017-06-21 14:43:46.000,10,1,32.0,21.0,273,1368.0,3295.0,2017,2017
27,6501669,98686,178,2017-06-21 14:43:13.000,2017-06-21 14:43:51.000,3,18,3.0,18.0,273,653.0,38.0,2017,2017
28,6501223,98026,1430,2017-06-21 13:58:43.000,2017-06-21 14:43:55.000,56,8,36.0,17.0,273,720.0,2712.0,2017,2017
29,6501559,33400,649,2017-06-21 14:32:41.000,2017-06-21 14:44:11.000,3,1,70.0,1.0,201,1167.0,690.0,2017,2017
30,6501453,98431,1274,2017-06-21 14:21:05.000,2017-06-21 14:44:22.000,36,1,10.0,1.0,295,600.0,1397.0,2017,2017
31,6501593,34097,1235,2017-06-21 14:35:47.000,2017-06-21 14:44:33.000,36,2,44.0,23.0,273,1591.0,526.0,2017,2017
32,6501439,36452,1285,2017-06-21 14:19:44.000,2017-06-21 14:44:49.000,36,1,67.0,1.0,171,1518.0,1505.0,2017,2017
33,6501406,92814,1408,2017-06-21 14:16:44.000,2017-06-21 14:44:50.000,56,4,55.0,4.0,273,690.0,1686.0,2017,2017
34,6501574,44173,1254,2017-06-21 14:34:14.000,2017-06-21 14:44:53.000,34,1,44.0,16.0,273,541.0,639.0,2017,2017
35,6501571,38255,1403,2017-06-21 14:33:52.000,2017-06-21 14:45:26.000,19,3,3.0,20.0,273,1250.0,694.0,2017,2017
36,6501564,100017,1028,2017-06-21 14:32:59.000,2017-06-21 14:45:49.000,8,1,22.0,8.0,273,1507.0,770.0,2017,2017
37,6501558,100363,1224,2017-06-21 14:32:32.000,2017-06-21 14:45:52.000,8,1,22.0,6.0,273,1220.0,800.0,2017,2017
38,6501623,100144,1092,2017-06-21 14:39:27.000,2017-06-21 14:46:08.000,8,1,10.0,1.0,295,1281.0,401.0,2017,2017
39,6501415,97838,1515,2017-06-21 14:17:25.000,2017-06-21 14:46:20.000,8,1,62.0,11.0,273,717.0,1735.0,2017,2017
40,6501586,47833,1455,2017-06-21 14:35:23.000,2017-06-21 14:46:28.000,36,4,44.0,25.0,273,1241.0,665.0,2017,2017
41,6501584,22295,1293,2017-06-21 14:35:00.000,2017-06-21 14:46:43.000,41,17,39.0,1.0,273,935.0,703.0,2017,2017
42,6501618,34614,1311,2017-06-21 14:38:43.000,2017-06-21 14:47:02.000,8,1,11.0,20.0,273,992.0,499.0,2017,2017
43,6501502,85694,927,2017-06-21 14:27:08.000,2017-06-21 14:47:06.000,41,21,11.0,2.0,273,1524.0,1198.0,2017,2017
44,6501665,98854,554,2017-06-21 14:42:47.000,2017-06-21 14:47:10.000,6,1,11.0,16.0,273,1677.0,263.0,2017,2017
45,6501452,94028,415,2017-06-21 14:21:01.000,2017-06-21 14:47:09.000,43,1,43.0,1.0,161,876.0,1568.0,2017,2017
46,6501438,36775,435,2017-06-21 14:19:39.000,2017-06-21 14:47:23.000,58,1,39.0,30.0,273,1082.0,1664.0,2017,2017
47,6501652,92527,903,2017-06-21 14:41:54.000,2017-06-21 14:47:22.000,41,1,43.0,1.0,161,818.0,328.0,2017,2017
48,6501428,31329,800,2017-06-21 14:18:26.000,2017-06-21 14:47:23.000,38,1,13.0,1.0,23,1615.0,1737.0,2017,2017
49,6501649,98491,1083,2017-06-21 14:41:52.000,2017-06-21 14:47:32.000,7,1,9.0,2.0,273,1556.0,340.0,2017,2017

Verificar quando as estações automáticas cheias. -> ver para cada estação qual o nº máximo de posições diferentes e depois tentar perceber qnd é que elas estão cheias (elas estão cheias se num dado intervalo de tempo todas as positions estão ocupadas) ---> taxa de ocupação

In [5]:
# Get the maximum number of positions in a station
# Id_Aparcamiento_Origen -> 128
# Id_Aparcamiento_Destino -> 142 diferentes

## APAGAR!!

def get_max_available_positions_per_station(_df):
    df = _df.copy()
    # Pandas drop_duplicates() function removes duplicate rows from the DataFrame
    df_origem = df[['Id_Aparcamiento_Origen', 'Posicion_Origen']] \
                    .drop_duplicates() \
                    .rename(columns={"Id_Aparcamiento_Origen": "Id_Aparcamiento", "Posicion_Origen": "Position"})
    df_destino = df[['Id_Aparcamiento_Destino', 'Posicion_Destino']] \
                    .drop_duplicates() \
                    .rename(columns={"Id_Aparcamiento_Destino": "Id_Aparcamiento", "Posicion_Destino": "Position"})
    
    df = pd.concat([df_origem, df_destino]).drop_duplicates()
    df_apps = df.groupby('Id_Aparcamiento')['Position'].nunique().to_frame()
    df_apps['Max Position'] = df.groupby('Id_Aparcamiento').max()
    # 0 se é manual, 1 se é automática
    df_apps['Type'] = [ 0 if x is 0 else 1 for x in df_apps['Position']]
    
    return df_apps
    
df_pos_per_station = get_max_available_positions_per_station(df)
df_pos_per_station.head()

                 Position  Max Position  Type
Id_Aparcamiento
0.0                     0           NaN     0
1.0                     1           1.0     1
2.0                     1           1.0     1
3.0                    40          40.0     1
4.0                     1           1.0     1

In [14]:
df_pos_per_station

                 Position  Max Position  Type
Id_Aparcamiento
0.0                     0           NaN     0
1.0                     1           1.0     1
2.0                     1           1.0     1
3.0                    40          40.0     1
4.0                     1           1.0     1
...                   ...           ...   ...
113.0                  19          20.0     1
114.0                  19          19.0     1
115.0                  28          28.0     1
118.0                  18          20.0     1
120.0                   0           NaN     0

[112 rows x 3 columns]

Há posições que nunca são ocupadas!!!!

In [6]:
def occupation_tax(nPos, maxPos):
    return (nPos*100)/maxPos

In [11]:
# obter  a posição inicial da bicicleta de forma a saber quantas bicicletas tem cada estação inicialmente



def get_bike_location(_df, station):

    df = _df.copy()
    df = df[['Id_Tag_Bicicleta', 'Fecha_Prestamo', 'Fecha_Devolucion', 'Id_Aparcamiento_Origen', \
             'Posicion_Origen', 'Id_Aparcamiento_Destino', 'Posicion_Destino']]
    
    df = df[(df['Id_Aparcamiento_Origen']==station) | (df['Id_Aparcamiento_Destino']==station)]
    #df_ts = df_ts.set_index(['Fecha_Prestamo', 'month'])

    return df

# eles podem ter bicicletas na estação q nós não sabemos porque nunca são emprestadas!!!!!!!!!!!!!!!!!!!!!!!!!
get_bikes_per_station(df, 8)

,Id_Tag_Bicicleta,Fecha_Prestamo,Fecha_Devolucion,Id_Aparcamiento_Origen,Posicion_Origen,Id_Aparcamiento_Destino,Posicion_Destino
0,1164,2017-06-21 14:22:11.000,2017-06-21 14:38:29.000,8,1,43.0,1.0
3,1465,2017-06-21 13:35:52.000,2017-06-21 14:39:22.000,8,1,9.0,6.0
36,1028,2017-06-21 14:32:59.000,2017-06-21 14:45:49.000,8,1,22.0,8.0
37,1224,2017-06-21 14:32:32.000,2017-06-21 14:45:52.000,8,1,22.0,6.0
38,1092,2017-06-21 14:39:27.000,2017-06-21 14:46:08.000,8,1,10.0,1.0
...,...,...,...,...,...,...,...
10387726,2329,2019-12-31 13:27:06.000,2019-12-31 13:41:43.000,8,1,48.0,8.0
10387730,2011,2019-12-31 13:20:37.000,2019-12-31 14:12:46.000,8,1,48.0,13.0
10387731,1836,2019-12-31 14:01:59.000,2019-12-31 14:13:35.000,8,1,53.0,16.0
10387734,2751,2019-12-31 13:58:21.000,2019-12-31 14:59:13.000,10,1,8.0,1.0
10387746,2137,2019-12-31 13:26:30.000,2019-12-31 14:14:01.000,8,1,102.0,12.0

In [ ]:
df.columns

Ver a taxa de ocupação a cada hora

Ver a capacidade de armazenamento das estações automáticas. Quais são as estações automáticas com maior capacidade de armazenamento? Quais as com menor?

Quais são as horas/dias da semana/meses mais comuns para usar uma bicicleta?

In [ ]:
df.Fecha_Prestamo=pd.to_datetime(df.Fecha_Prestamo)
df.Fecha_Devolucion=pd.to_datetime(df.Fecha_Devolucion)
df['year_prestamo'] = df.Fecha_Prestamo.dt.year
df['month_prestamo'] = df.Fecha_Prestamo.dt.month
df['day_prestamo'] = df.Fecha_Prestamo.dt.day
df['hour_prestamo'] = df.Fecha_Prestamo.dt.hour
df

In [ ]:
def plot_prestamo_over_time(df, time_unit):
    dfYear=df.groupby(time_unit+'_prestamo').size().reset_index(name='count')
    print(dfYear)
    ax = dfYear.plot(x=time_unit+"_prestamo")
    ax.locator_params(integer=True)

In [ ]:
plot_prestamo_over_time(df, "year")

In [ ]:
plot_prestamo_over_time(df, "month")

In [ ]:
plot_prestamo_over_time(df, "day")

In [ ]:
plot_prestamo_over_time(df, "hour")

In [ ]:
Quais é que são os tempos médios de empréstimo?

In [ ]:
df['duration_hour'] = (df.Fecha_Devolucion-df.Fecha_Prestamo).dt.total_seconds().div(60*60)
df

In [ ]:
dfDuration=df.groupby('duration_hour').size().reset_index(name='count')
ax=dfDuration.plot(x="duration_hour", y="count", figsize=(16,9))
ax.set_xscale('log')

In [ ]:
Quais as origens/destinos mais comuns?

In [ ]:
dfOrigin=df.groupby('Id_Aparcamiento_Origen').size().reset_index(name='count')
dfOrigin.plot(x="Id_Aparcamiento_Origen", figsize=(16,9))

In [ ]:
dfDestination=df.groupby('Id_Aparcamiento_Destino').size().reset_index(name='count')
dfDestination.plot(x="Id_Aparcamiento_Destino", figsize=(16,9))

In [ ]:
Quais os trajetos mais comuns?

In [ ]:
dfTranjects=df.groupby(['Id_Aparcamiento_Origen', 'Id_Aparcamiento_Destino']).size().reset_index(name='count')
dfTranjects

In [ ]:
import numpy as np
import matplotlib.pyplot as plt
from matplotlib import cm
from matplotlib.ticker import LinearLocator, FormatStrFormatter
from mpl_toolkits.mplot3d import Axes3D

fig = plt.figure(figsize=(16, 9))
ax = Axes3D(fig)

ax.plot_trisurf(dfTranjects["Id_Aparcamiento_Origen"], dfTranjects["Id_Aparcamiento_Destino"], dfTranjects["count"], cmap=cm.jet, linewidth=0.2)
ax.set_zlabel('Count')
ax.set_xlabel('Origin')
ax.set_ylabel('Destination')

plt.show()

In [ ]:
Cadeias de markov ou função matemática: qual é a probabilidade de uma bicicleta ser transportada para uma estação X sabendo que estava na estação Y