In [1]:
import pandas as pd
import datetime

# A carolina vai fazer um notebook dedicado à limpeza de dados
# Os dados limpos pode-se fazer o tratamento num notebook à parte e no final junta-se

In [2]:
df = pd.read_csv("bike_loans.csv", sep=";")

In [3]:
df.head()

,Id_Historico_Prestamo,Id_Usuario,Id_Tag_Bicicleta,Fecha_Prestamo,Fecha_Devolucion,Id_Aparcamiento_Origen,Posicion_Origen,Id_Aparcamiento_Destino,Posicion_Destino,Importe,DescripcionImporte,operario,Num_Bici_Hist
0,6501462,18701,000017B00743,2017-06-21 14:22:11.000,2017-06-21 14:38:29.000,8,1,43.0,1.0,0.0,NaN,jhon.castano,929.0
1,6501318,41811,000017AFF83C,2017-06-21 14:07:18.000,2017-06-21 14:39:06.000,56,6,54.0,NaN,0.0,NaN,monitor,1612.0
2,6501489,96620,000017AFFB6F,2017-06-21 14:25:11.000,2017-06-21 14:39:07.000,36,25,9.0,13.0,0.0,NaN,NaN,1679.0
3,6501001,16055,0000182A3B7B,2017-06-21 13:35:52.000,2017-06-21 14:39:22.000,8,1,9.0,6.0,0.0,NaN,NaN,1076.0
4,6501421,6431,000017AFE810,2017-06-21 14:17:56.000,2017-06-21 14:39:26.000,56,14,54.0,NaN,0.0,NaN,monitor,1176.0

In [4]:
df.describe()

,Id_Historico_Prestamo,Id_Usuario,Id_Aparcamiento_Origen,Posicion_Origen,Id_Aparcamiento_Destino,Posicion_Destino,Importe,DescripcionImporte,Num_Bici_Hist
count,1.422536e+07,1.422536e+07,1.422536e+07,1.422536e+07,1.421928e+07,1.410506e+07,14225355.0,0.0,1.326167e+07
mean,9.279505e+06,6.564413e+04,3.415679e+01,4.718921e+00,3.441973e+01,7.130318e+00,0.0,NaN,1.439109e+03
std,4.894283e+06,4.666045e+04,2.733872e+01,7.334095e+00,2.750160e+01,8.610296e+00,0.0,NaN,8.044781e+02
min,4.200000e+01,2.000000e+00,1.000000e+00,1.000000e+00,0.000000e+00,1.000000e+00,0.0,NaN,1.000000e+00
25%,6.012212e+06,2.384000e+04,8.000000e+00,1.000000e+00,8.000000e+00,1.000000e+00,0.0,NaN,8.400000e+02
50%,9.643604e+06,4.469700e+04,3.300000e+01,1.000000e+00,3.400000e+01,1.000000e+00,0.0,NaN,1.276000e+03
75%,1.326346e+07,1.087550e+05,5.600000e+01,5.000000e+00,5.600000e+01,1.200000e+01,0.0,NaN,1.647000e+03
max,1.727300e+07,1.579420e+05,1.510000e+02,4.000000e+01,1.510000e+02,4.000000e+01,0.0,NaN,1.435500e+04

In [5]:
def eda_to_df(df):
    header="+" + ("-"*52) + "+"
    form = "+{:^16s}|{:^16s}|{:^10s}|{:^7s}|"
    print(header)
    print(form.format("Column", "Type", "Uniques", "NaN?"))
    print(header)
    for col in df.columns:
        print(form.format(str(col), str(df[col].dtypes), str(len(df[col].unique())), 
                          str(df[col].isnull().values.any()) ))
    print(header)
    
    
# ver qual é a percentagem de valores a nan    
# é necessário removê-los????
    
eda_to_df(df)

+----------------------------------------------------+
+     Column     |      Type      | Uniques  | NaN?  |
+----------------------------------------------------+
+Id_Historico_Prestamo|     int64      | 14221915 | False |
+   Id_Usuario   |     int64      |  93005   | False |
+Id_Tag_Bicicleta|     object     |   6698   | True  |
+ Fecha_Prestamo |     object     | 12933511 | False |
+Fecha_Devolucion|     object     | 12841682 | False |
+Id_Aparcamiento_Origen|     int64      |   128    | False |
+Posicion_Origen |     int64      |    40    | False |
+Id_Aparcamiento_Destino|    float64     |   142    | True  |
+Posicion_Destino|    float64     |    41    | True  |
+    Importe     |    float64     |    1     | False |
+DescripcionImporte|    float64     |    1     | True  |
+    operario    |     object     |   463    | True  |
+ Num_Bici_Hist  |    float64     |   2537   | True  |
+----------------------------------------------------+

Fábio:

Quais são as horas/dias da semana/meses mais comuns para usar uma bicicleta?

Quais é que são os tempos médios de empréstimo?

Quais as origens/destinos mais comuns?

Quais os trajetos mais comuns?

Cadeias de markov ou função matemática: qual é a probabilidade de uma bicicleta ser transportada para uma estação X sabendo que estava na estação Y

-------------------------------------------------------------------------------------------------

Ana:

Verificar quando as estações automáticas cheias. -> ver para cada estação qual o nº máximo de posições diferentes e depois tentar perceber qnd é que elas estão cheias (elas estão cheias se num dado intervalo de tempo todas as positions estão ocupadas) ---> taxa de ocupação

Ver a taxa de ocupação a cada hora

Ver a capacidade de armazenamento das estações automáticas. Quais são as estações automáticas com maior capacidade de armazenamento? Quais as com menor?

Nota: os nans presents em Posicion_Destino e Posicion_Origen significa que as estações são manuais -> temos de ter o nome do empregado (VERIFICAR SE ISTO É COERENTE)

In [6]:
df = df.drop(['Importe', 'DescripcionImporte'], axis=1)

In [7]:
df.head()

,Id_Historico_Prestamo,Id_Usuario,Id_Tag_Bicicleta,Fecha_Prestamo,Fecha_Devolucion,Id_Aparcamiento_Origen,Posicion_Origen,Id_Aparcamiento_Destino,Posicion_Destino,operario,Num_Bici_Hist
0,6501462,18701,000017B00743,2017-06-21 14:22:11.000,2017-06-21 14:38:29.000,8,1,43.0,1.0,jhon.castano,929.0
1,6501318,41811,000017AFF83C,2017-06-21 14:07:18.000,2017-06-21 14:39:06.000,56,6,54.0,NaN,monitor,1612.0
2,6501489,96620,000017AFFB6F,2017-06-21 14:25:11.000,2017-06-21 14:39:07.000,36,25,9.0,13.0,NaN,1679.0
3,6501001,16055,0000182A3B7B,2017-06-21 13:35:52.000,2017-06-21 14:39:22.000,8,1,9.0,6.0,NaN,1076.0
4,6501421,6431,000017AFE810,2017-06-21 14:17:56.000,2017-06-21 14:39:26.000,56,14,54.0,NaN,monitor,1176.0

In [8]:
def duration (prestamo, devolucion):

    start = datetime.datetime.strptime(prestamo[0:19], "%Y-%m-%d %H:%M:%S")
    end = datetime.datetime.strptime(devolucion[0:19], "%Y-%m-%d %H:%M:%S")
    time = end - start
    seconds = time.total_seconds()

    return seconds

df['Duration'] = df.apply(lambda x: duration(x['Fecha_Prestamo'],x['Fecha_Devolucion']),axis=1)

KeyboardInterrupt:

In [ ]:
df

In [ ]:
# remove data before 2016????
# remove data after 2019
# 2016, 2017, 2018, 2019 (4 years)
# remove data with negative duration